{% extends 'template_main.html' %}
{% load static %}

{% block main %}
    <a href="{% url 'student:create' %}">Adicionar</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Matrícula:</th>
            <th>Nome:</th>
            <th>Email:</th>
            <th>Telefone</th>
            <th>Opçoes:</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.pk }}</td>
                <td>{{ student.registration }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone_number }}</td>
                <td>
                    <a href="{% url 'student:update' student.pk %}">Alterar</a>
                </td>
            </tr>
        {% empty %}

        {% endfor %}
        </tbody>
    </table>
{% endblock main %}