{% extends 'template_main.html' %}
{% load static %}

{% block main %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome:</th>
            <th>Usuário:</th>
            <th>Email:</th>
            <th>Opçoes:</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'user:update' user.pk %}">Alterar</a>
                </td>
            </tr>
        {% empty %}

        {% endfor %}
        </tbody>
    </table>
{% endblock main %}